[submodule "doc/modules"]
	path = doc/modules
	url = https://github.com/xsession/chsm-docs.git
[submodule "languages/c/cmake_utils"]
	path = languages/c/cmake_utils
	url = https://github.com/xsession/cmake_utils.git
[submodule "languages/c/unity"]
	path = languages/c/unity
	url = https://github.com/xsession/Unity.git
[submodule "languages/c/examples/menu_structure"]
	url = https://github.com/xsession/menu_structure.git
