cookiecutter==2.3.0
docopt==0.6.2
Eel==0.14.0
Jinja2==3.1.2
jinja2-time==0.2.0
m2r==0.3.1
pywin32==306
Sphinx==6.2.1
sphinx-rtd-dark-mode==1.2.4
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-drawio==0.0.16
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.25
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-runcmd==0.2.0
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.datatemplates==0.9.2