
add_module_test(
        NAME 
                {{test_name}}
        SOURCE 
                tsrc/main.c 
                tsrc/ut_{{test_name}}.c 
        INCLUDE 
                tinc
        LINK 
                unity
                {{linked_libs}}
        DEFINES 
                NDEBUG
        STANDARD
                11
)