
add_module_lib(
        NAME 
                {{lib_name}}
        SOURCE 
                src/{{source_files}} 
        INCLUDE 
                {{include_libs}}
        LINK 
                {{linked_libs}}
        DEFINES 
                {{defines}}
        STANDARD
                11
)